 <div class="profile">
        <div class="profile-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
        </div>
        <div class="profile-text">
            <% if current_user %>
              <a href="/users/profile" class="profile-link">Личный кабинет</a>
            <% elsif current_doctor %>
              <a href="/doctors/profile" class="profile-link">Личный кабинет</a>
            <% elsif current_superuser %>  
              <a href="/admin" class="profile-link">Админ панель</a>
            <% else %>
              <a href="/users/sign_in" class="profile-link">Войти</a>
            <% end %>
        </div>
    </div>